body {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  color: whitesmoke;
  background-color: #E09F3E;
  background-image: linear-gradient(#e5b23d, #e09f3e);
}

/* Custom CSS to override Bulma styles */
.navbar.is-black .navbar-link,
.navbar.is-black .navbar-dropdown {
  font-family: 'Play', sans-serif;
  font-weight: 500;
  background-color: black;
  color: white;
}

.navbar.is-black .navbar-dropdown a.navbar-item {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  background-color: black;
  color: #E09F3E;
}

.navbar.is-black .navbar-dropdown a.navbar-item:hover {
  color: white;
}

.navbar, .navbar-dropdown, .navbar-link, .navbar-item {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.columns {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  text-shadow: 2px 2px 5px gray;
  align-items: center;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.columns.is-10 {
    justify-content: center;
  }
  
  .column.is-4:first-child {
    order: 2;
  }
  
  .column.is-4:last-child {
    order: 1;
  }

.button {
    background-color:#383737;
    border-color: #383737;
    color: white;
    padding: 0px 30px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

.button:hover {
    border-color: #252525;
    background-color:#252525;
    color: #e5b23d;
}

p {
    display: block;
    margin-block-end: 1em;
}