

.navbar {
    background-color: #252525;
}


.section {
    background-color: #252525;
    padding: 0rem 1rem;

}

body {

    color: whitesmoke;
    background-color: #E09F3E;
    background-image: linear-gradient(#e5b23d, #e09f3e);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    line-height: 1;
}

.columns {
    font-size: 26px;
    text-shadow: 2px 2px 5px gray;
    padding: 100px 0;
    justify-content: center;
}


button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    
    font-size: 20px;
    font-family:inherit;
    text-rendering: auto;
    color: #e5b23d;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #252525;
    margin: -1em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.hero {
    max-width: 100%;
    max-height: 100%;
}


.columns.is-6 {
    flex-wrap: wrap-reverse;
    justify-content: center;
}
  
  .column.is-3:first-child {
    order: 2;
  }
  
  .column.is-3:last-child {
    order: 1;
  }