header {
    background-color: #252525;
    padding: 0rem 1rem;
}

.navbar {
    background-color: #252525;
}

body {
    position: relative;
    min-height: 100% vh;
    color: whitesmoke;
    background-color: #E09F3E;
    background-image: linear-gradient(#e5b23d, #e09f3e);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    line-height: 1;
}

footer {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    position: absolute;
    bottom: 3.0px;
    right: 2px;
  }
  
  footer a {
    text-decoration: none;
    color: whitesmoke;
    padding-right: 3px;
  }
  
  footer a:hover {
      color: palegreen;
  }

.columns {
    font-size: 26px;
    text-shadow: 2px 2px 5px gray;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}


.columns.is-10 {
    justify-content: center;
  }
  
  .column.is-4:first-child {
    order: 2;
  }
  
  .column.is-4:last-child {
    order: 1;
  }

.button {
    background-color:#383737;
    border-color: #383737;
    color: white;
    padding: 0px 30px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

.button:hover {
    border-color: #252525;
    background-color:#252525;
    color: #e5b23d;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.hero {
    max-width: 100%;
    max-height: 100%;
}